body{
    background-image: url("../images/background.png");
    background-repeat: repeat;
}
.jumbotron {
   background: rgba(120, 120, 120, 0.6); 
   padding-top: 25px; 
   height: 550px
}
.left{
    text-align: left;
}
.panel-body{
    background-color:#bdbdbd;
    font-family: Tahoma;
}
.img-container{
    height: 99px;
    width: 99px;
}
.pkLoad{
    vertical-align: middle;
    max-height: 99px;
    max-width: 99px;
}
.pkTd{
    text-align: center;
}
.modal-body{
    font-family: Verdana;
}
#pokeRow{
    max-height: 99px;
}
#pkGif{
    max-height: 99px;
}
#desc{
    color:#FFFFFF;
}
#capturar{
    margin-left: 10px;
}
#pkNickname{
    visibility:hidden;
}
#pkSprite{
    vertical-align: middle;
    max-height: 99px;
    max-width: 99px;
}
#loading{
    display: none;
}
#btnSobre{
    background-color: #222222;
    color:#FFFFFF;
}
#nav{
    height: 53px;
}